
.navbar{
    float: right;
}

.jumbotron-fluid {
    background-image: url(../assets/img/pizza.png);
    margin: auto 0;
    text-align: center;
}
.container {
    background: white;
    opacity: 60%;
}