* {
    padding: 10px;
    margin: 10px;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    border: 1px solid #bed2f5;
    background-color: #adcde8;
    padding: 10px;
    border-radius: 5px;
    color: #0c2045;
}
.message-success{
    border: 1px solid #b8e8b8;
    background-color: #c6f1c6;
    padding: 10px;
    border-radius: 5px;
    color: darkgreen;
}

.message-warning{

    border: 1px solid yellow;
    background-color: #efefc5;
    padding: 10px;
    border-radius: 5px;
    color: darkgoldenrod;
}
.message-error{

    border: 1px solid #efbaba;
    background-color: #e5afaf;
    padding: 10px;
    border-radius: 5px;
    color: maroon;
}